
body {
  font-family: 'PT Serif', serif;
}

p.parrafo{
  text-indent: 30px;
  text-align: justify
}

.texto-sombra{
  text-shadow: 0 0 40px #000000;
}

.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }

table {
  table-layout:fixed;
}
table td {
  word-wrap: break-word;
  max-width: 400px;
}
#example td {
  white-space:inherit;
}

.completa  {
	width: 100%;
 	position: relative;
}