
body {
  font-family: 'PT Serif', serif;
}

p.primeralinea {
  text-indent: 30px;
  text-align: justify
}

.portada{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat
  display: flex;
  flex-direction: column;

}

.text-titulo{
  text-shadow: 0 0 40px #000000;
}

.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }